<!DOCTYPE html>
<head>
  <title>GPT3 App!</title>
  <script src="/static/base.js"></script>
  <link href="/static/base.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap" rel="stylesheet"> 
</head>
<body>
  <h1>GPT3 Summarizer</h1>
  <h2>Enter your text here:</h2>
  <form method = "POST">
    <p><input style="width:500px" type = "text" name = "Text" /></p>
    <p><input style="heigh:30px;width:100px" type = "submit" value = "Submit" /></p>
</form>
  <p>
    <cb>{{ summary }}</cb>
    <cb>{{ inp }}</cb>
  </p>
  <h3>
    To invest, email <b><u>am@alistairmcleay.com</u></b> with your best offer.
  </h3>
  <p>
    Made @Cambridge University instead of doing assignments.
  </p>
</body>